// Place all the styles related to the public/Comment controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.comment-form {
  width: 18rem;
  height: 8rem;
  border-radius: 0.5rem;
}