.index {
  text-align: center;
  padding-top: 2rem;
  .title {
    font-family: serif;
    padding: 0;
  }
}


#map {
  height: 700px;
  width: 100%;
}


.form {
  text-align: right;
  padding: 0 1rem 1rem 0;
}
