// Place all the styles related to the public/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// --------ユーザ詳細ページ(show.html.erb)----------------

.user-info {
  margin-top: 4rem;
  padding-left: 3rem;
}

.t-heading {
  border-left: 10px solid #ff0000;
  padding: 5px 20px;
}

.user-name {
  display: flex;
  h5 {
    margin-right: 6rem;
  }
}

.user-introduction {
  display: flex;
  margin-top: 2rem;
  h5 {
    margin-right: 9rem;
  }
  p {
    width: 60%;
  }
}

.follow {
  display: flex;
  margin-top: 2rem;
}

.following {
  margin-left: 3rem;
}

.followers {
  margin-left: 1.8rem;
}

.fa-heart {
  color: #ed354ee6;
}

@media screen and (max-width: 550px){
  .user-info {
    padding-left: 1rem;
    .t-heading {
       padding: 5px 11px;
    }
    .user-introduction {
      h5 {
       margin-right: 2rem;
      }
    }
  }
}
