<% if user_signed_in? %>
  <%= form_with(model:[post, comment]) do |f| %>
    <div id="comment-errors">
      <%= render "layouts/error_message", model: f.object %>
    </div>
    <%= f.text_area :comment, placeholder: " 感想などをコメントしてみましょう！", class: "comment-form" %>
    <%= f.submit "コメントする", class: "btn btn-success mt-3" %>
  <% end %>
<% end %>