<div class="container">
  <div class="row">
    <div class="col-6">
      フォロー中
      <% @following.each do |following| %>
        <%= attachment_image_tag following, :profile_image, :fill, 100, 100, fallback: "no_image-.jpg"  %>
        <%= following.user.name %>
      <% end %>
    </div>
    <div class="col-6">
      フォロワー
      <% @follow.each do |following| %>
        <%= attachment_image_tag following, :profile_image, :fill, 100, 100, fallback: "no_image-.jpg"  %>
        <%= following.user.name %>
      <% end %>
    </div>
  </div>
</div>