<h1>map</h1>

<%= form_with url: map_request_path, method: :get do |f| %>
  <%= f.text_field :address %>
  <%= f.submit "地図表示" %>
<% end %>


<div id="map"></div>

<style>
  #map {
    height: 600px;
    width: 100%;
  }
</style>

<script>
  let map
  let infoWindow = [];
  let marker = [];
  let markerLatLng = {};
  const build_positions = gon.build_positions;
  let contentString = "住所:";
 // 地図表示
  function initMap() {
    // 投稿された住所の緯度経度を取得
    map =new google.maps.Map(document.getElementById("map"), {
            zoom: 12,
            center: { lat: 35.6585, lng: 139.7486 }
            });
    // 都市の交通網表示
    let transitLayer = new google.maps.TransitLayer();
    transitLayer.setMap(map);
// 地図に複数マーカ表示
    for (var i = 0; i < build_positions.length; i++) {
      if (build_positions.length == 0) { continue };
      markerLatLng = {lat: build_positions[i][0], lng: build_positions[i][1]}; // 緯度経度のデータ作成
      marker[i] = new google.maps.Marker({
        position: markerLatLng,
        map: map,
        title: contentString
      });
      // 吹き出し
      infoWindow[i] = new google.maps.InfoWindow({
        content: contentString
      });
      // マーカがクリックされたとき
      marker[i].addListener("click", function(){
        infoWindow[i].open(map, marker[i]);
      });
  };
  };
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap" async defer></script>
