<h1>map</h1>

<%= form_with url: map_request_path, method: :get do |f| %>
  <%= f.text_field :address %>
  <%= f.submit "地図表示" %>
<% end %>


<div id="map"></div>

<style>
  #map {
    height: 600px;
    width: 100;
  }
</style>


<script>
  let mapInstance
  let marker = [];
  let infoWindow = [];
  const build_positions = gon.build_positions;
  <% byebug %>
  function initMap(){
     // gemのgeocoderを利用(非同期)
    geocoder = new google.maps.Geocoder()
    mapInstance = new google.maps.Map(document.getElementById("map"), {
      center: {lat: 35.659, lng: 139.700},
      zoom: 14
    });
    // 登録住所から緯度経度に変化して、複数のピンを表示
    for(let i = 0; i < build_positions.length; i++){
      geocoder.geocode({"address": build_positions[i].prefecture_code + build_positions[i].city + build_positions[i].street},
      function(results, status) {
        if(status == "OK"){
          map.setCenter(results[0].geometry.location);
          marker[i] = new google.maps.Marker({
            map: mapInstance,
            position: results[0].geometry.location
          });

          let id = build_positions[i]["id"]
          infoWindow[i] = new google.maps.infoWindow({
            content: `<a href="/posts/${id}">${build_positions[i].title}</a>`
          });
          marker[i].addListener("click", function(){
            infoWindow[i].open(map, marker[i]);
          });
        } else{
          alert("Geocode was not successful for the following reason: " + status);
        }
      });
    }
  }
</script>



<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap" async defer></script>
