<div class="container">
  <div class="row">
    <div class="col">
      <!---スライド--->
      <div class="a">
        <div class="b"><img class="c" src="assets/image_1.jpg"></div>
        <div class="b"><img class="c" src="assets/test5.jpg"></div>
        <div class="b">3</div>
      </div>
      
      <div class="btn btn-primary">
       <%= link_to "新規登録", new_user_registration_path %>
      </div>
      <div class="btn btn-success">
       <%= link_to "ログイン", new_user_session_path %>
      </div>
    </div>
  </div>
</div>