/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';
 @import "slick-theme";
 @import "slick";
 
 
 * {
  margin: 0;
  padding: 0;
  
 }
 

// ----------------------------------------------

body {
 position: relative;
}

header {
 height: 100px;
}

main {
  min-height: calc(100vh - 100px);
  padding-bottom: 30px;
}

.footer {
 background-color: #343a40;
 color: white;
 text-align: center;
 width: 100%;
 position: absolute;
 bottom: 0;
 height: 40px;
 }

 // -------top-----------------------------------

.top-wrapper {
 padding: 0 0 100px 0;
 background-image: image-url("top1.jpg") ;
 width: 100%;
 background-size: cover;
 background-position: center ;
 min-height: 70vh;
background-color:rgba(255,255,255,0.2);
background-blend-mode:lighten;
}

.title {
 padding: 50px 0;
}

.top-wrapper h1 {
 font-size: 5rem;
 color: #ffffffcf;
 font-family: 'Montserrat Subrayada', sans-serif;
  color: #ffffffcf;
}

.top-wrapper p {
 font-size: 2rem;
 margin-bottom: 90px;
 background-color: rgba(255,255,255,.2);
}

.btn {
 padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.xxx {
 display: flex;
 text-align: center;
 justify-content: space-evenly;
}

.content {
 justify-content: center;
}
// ---------------------------------------------