// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// -------index.html.erb----------------------------------------------


.card {
    .img-sam {
        width: 315px;
        height: 255px;
        object-fit: cover;
    }
    .card-user {
        display: flex;
        justify-content: space-between;
        margin-top: 0.75rem;
    }
}

.card-body {
    .badge {
        background-color: #44d56ac2;
        font-size: 1rem;
    }
}

.card-body {
    .card-title {
        font-family: 'Rajdhani', sans-serif;
        font-size: 1.5rem
    }
}

.card-footer {

    .fa-heart {
    font-size: 28px;
    margin: 0 20px 0 20px;
    color: #ed354ee6;
}
.fa-comments {
    font-size: 28px;
    margin-right: 30px;
}
}

// -------show.html.erb----------------------------

.con-lef {
    h1 {
        text-align: center;
        margin-bottom: 2rem;
    }
}

.img-box {
    width: 19.5rem;
    height: 35rem;
    margin: auto;
}

.thum-img {
    display: flex;
    flex-direction: row;
    .thum {
        width: 150px;
        height: 150px;
        object-fit: cover;
        justify-content: space-between;
    }
}

// スライダー
 .img-size {
        width: 19.5rem;
        height: 35rem;
        object-fit: cover;
    }

 .slick-dots {
  li {
    font-size: 20px !important;
    button:before {
      content: "○" !important;
      font-size: 14px !important;
      color: rgb(60, 60, 60) !important;
    }
  }
}

.cent {
    .cent-t {
    display: flex;
    margin-bottom: 1rem;
        h3 {
            margin-right: 11rem;
        }
    }
    .rate {
       display: flex;
       .rate-form {
           margin-left: 9rem;
           display: flex;
       }
    }
    #map {
        height: 400px;
        width: 485px;
        margin-top: 3rem;
    }
}

.tag {
    display: inline-block;
	margin: 0 .1em .6em 0;
	padding: .6em;
	line-height: 1;
	color: #fff;
	text-decoration: none;
	background-color: #44d56ac2;
	border-radius: 2em 0 0 2em;
	:before {
	    content: '●';
	    margin-right: .5em;
	    color: #fff;
	}
	.link-text {
	    color: white;
	}
}

.con-right {
    margin-top: 12rem;
}

// -------search.html.erb-------------------------------

.tag-title {
    text-align: center;
}

.tag-img{
    width: 18%;
}

// ---------レスポンシブ---------------------------------------

@media screen and (max-width: 550px) {
    .cent {
        .rate {
            display: flex;
            flex-direction: column;

            .rate-form {
                margin-left: 0;
            }
        }
        #map {
             height: 30rem;
            width: 22rem;
        }
    }
    .thum-img {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    }

}